<div class="education-container container-block">
  <h2 class="container-block-title">Other Skills</h2>
  <div class="skillset-inv">

      <span class="label label-default">Typescript</span>
      <span class="label label-primary">Python</span>
      <span class="label label-primary">SSO</span>
      <span class="label label-success">JWT</span>
      <span class="label label-default">GitHub</span>
      <span class="label label-warning">Vagrant</span>
      <span class="label label-default">Docker</span>
      <span class="label label-warning">Visual Studio Code</span>
      <span class="label label-success">TDD</span>
      
      <span class="label label-warning">AWS</span>
      <span class="label label-primary">Heroku</span>
      <span class="label label-success">Clean Code</span>
      <span class="label label-warning">Kanban</span>

  </div>  
</div>
